<div class="navbar-wrap">
  <div
    class="navbar-button"
    [ngClass]="{ open: openedSidebar }"
    (click)="openSidebar()"
  >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <h1 class="page-title">{{ title }}</h1>
  <div class="nav-items">
    <div class="nav-item" [ngClass]="{ opened: false }">
      <a href="#" (click)="open($event)" class="nav-link">
        <div class="avatar">
          <img src="assets/content/user.jpg" width="40" height="40" alt="" />
        </div>
        <div class="name">{{ currentUser?.nom }}</div>

      </a>

     <div class="dropdown-menu mini-menu">
        <ul>
         <!--> <li>
            <a href="#"><span class="icon sli-logout"
              (click)="Deconnxion()"></span>Déconnexion</a>
          </li> <-->
           <li>
            <a (click)="logout()"><span class="icon sli-logout"></span>Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
    <!--><div class="items-overlay" (click)="close($event)"></div> <-->
  </div>
</div>
